<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<th:block th:insert="fragments/loading::loading"></th:block>
<div class="container" style="margin-top: 10rem;">
    <div th:if="${#lists.isEmpty(orderList)}">
        <h4 class="card-title mb-4">Lịch sử mua hàng</h4>
        <p class="text-danger my-3">Bạn chưa mua sản phẩm nào.</p>
        <a class="btn btn-primary" th:href="@{/collections}">Tiếp tục mua sắm</a>
    </div>
    <div th:unless="${#lists.isEmpty(orderList)}">
        <table class="table table-hover align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th class="fw-bold">Sản phẩm</th>
                <th class="fw-bold">Tên sản phẩm</th>
                <th class="fw-bold">Mã đơn hàng</th>
                <th class="fw-bold">Trạng thái</th>
                <th class="fw-bold">Ngày đặt hàng</th>
                <th class="fw-bold">Tổng tiền</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order : ${orderList}" th:switch="*{order.status}">
                <th:block th:each="orderItem : *{order.getOrderItems()}">
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <div th:each="image, limit : *{orderItem.getProducts().getImages()}"
                                         th:if="${limit.index} &lt; 1">
                                        <img th:src="@{'/uploads/products/'+ *{image.getName()}}"
                                             th:alt="*{image.getName()}"
                                             th:class="${limit.index % 2 == 0 ? '' :'img-fluid'}"
                                             style="aspect-ratio: 1 / 1; width: 96px; height: 96px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">
                                        <span th:text="${orderItem.products.name}"></span>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1"><span
                                            th:text="'HD' + ${#dates.format(order.createdAt, 'ddMMyyHHmm')}"></span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <th:block th:switch="*{order.status}">
                                <th:block th:case="'Pending'">
                                    <p class="fw-semibold mb-1 text-dark"><span th:text="*{order.status}"></span></p>
                                </th:block>
                                <th:block th:case="'Out Of Stock'">
                                    <p class="fw-semibold mb-1 text-info"><span th:text="*{order.status}"></span></p>
                                </th:block>
                                <th:block th:case="'Delivering'">
                                    <p class="fw-semibold mb-1 text-warning"><span th:text="*{order.status}"></span></p>
                                </th:block>
                                <th:block th:case="'Delivered'">
                                    <p class="fw-semibold mb-1 text-success"><span th:text="*{order.status}"></span></p>
                                </th:block>
                                <th:block th:case="'Cancel'">
                                    <p class="fw-semibold mb-1 text-danger"><span th:text="*{order.status}"></span></p>
                                </th:block>
                            </th:block>
                        </td>
                        <td>
                <span class="rounded-pill d-inline"><span
                        th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy')}"></span></span>
                        </td>
                        <td><span class="mb-0 ms-2 text-danger fw-semibold"
                                  th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                        </td>
                        <td>
                            <a th:href="@{'/order/order='+*{order.id}}"
                               class="btn btn-outline-success btn-sm btn-rounded">
                                Xem
                            </a>
                        </td>
                        <td th:switch="*{order.status}">
                            <th:block th:case="'Delivered'">
                                <button type="button" class="btn btn-outline-danger btn-sm btn-rounded" disabled>
                                    Hủy đơn hàng
                                </button>
                            </th:block>
                            <th:block th:case="'Cancel'">
                                <button type="button" class="btn btn-outline-danger btn-sm btn-rounded" disabled>
                                    Hủy đơn hàng
                                </button>
                            </th:block>
                            <th:block th:case="*">
                                <form th:action="@{'/order/update='+*{order.id}}" method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Hủy đơn hàng
                                    </button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/app.js}"></script>
</html>