<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
</head>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>
<!--content -->
<div class="row">
    <th:block th:insert="~{admin/layout/sidebar :: sidebar}"></th:block>
    <div class="col-10 mt-3">
        <h3 class="page-header">Quản lý Color</h3>
        <th:block th:insert="~{fragments/loading::loading}"></th:block>
        <label for="color"></label>
        <div class="container">
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <form th:action="@{/admin/productsColor/add}" th:object="${colors}" method="post">
                <div class="row">
                    <input type="hidden" name="id"/>
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="color" name="color"
                                    required=""
                                    th:field="*{color}"
                                    placeholder="Color Name"
                            />
                            <label for="color" class="form-label fs-6">Color Name</label>
                        </div>
                        <p
                                th:errors="*{color}"
                                class="text-danger fs-6 mb-3"
                                th:if="${#fields.hasErrors('color')}"
                        ></p>
                    </div>

                    <div class="col-md-6" style="margin-bottom: 20px">
                        <select class="form-select" id="version" required th:field="*{version}">
                            <option
                                    th:each="version : ${versions}"
                                    th:value="${version.getId()}"
                                    th:text="${version.getName()}"
                            ></option>
                        </select>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 20px">
                        <select
                                class="form-select"
                                id="productList"
                                th:field="*{products}"
                                required
                                onchange="updateVersions()"
                        >
                            <option th:each="product : ${productList}" th:value="${product.getId()}"
                                    th:text="${product.getName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-hover nhanHieuTable">
            <thead>
            <tr class="active">
                <th class="fw-bold text-center">ID</th>
                <th class="fw-bold text-center">Color</th>
                <th class="fw-bold text-center">Version</th>
                <th class="fw-bold text-center">Product</th>

                <th class="fw-bold text-center"></th>
            </tr>
            </thead>
            <tbody th:each="colors : ${color}">
            <tr class="info">
                <td class="text-center" th:text="*{colors.id}"></td>
                <td class="text-center" th:text="*{colors.color}"></td>
                <td
                        class="text-center" th:if="*{colors.version != null}"
                        th:text="*{colors.getVersion().getName()}"
                ></td>
                <td
                        class="text-center" th:if="*{colors.products != null}"
                        th:text="*{colors.getProducts().getName()}"
                ></td>

                <td>
                    <a class="btn btn-outline-primary" th:href="@{'/admin/productsColor/update/id=' + ${colors.id}}"
                    >Update</a
                    >
                    <a class="btn-outline-danger btn" th:href="@{'/admin/productsColor/delete/' + ${colors.getId()}}"
                    >Delete</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination"></ul>
    </div>
</div>
<div th:replace="~{admin/layout/footer}"></div>
<script th:src="@{/admin/js/nhanHieuAjax.js}"></script>
<script th:src="@{/admin/js/admin.js}"></script>

<script th:src="@{/js/app.js}"></script>

<script>
    function updateVersions() {
        // Lấy giá trị của product từ select
        var productId = document.getElementById("productList").value;

        // Gửi yêu cầu đến server để lấy danh sách versions
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                // Cập nhật danh sách versions dựa trên dữ liệu trả về từ server
                var versions = JSON.parse(this.responseText);
                var selectVersions = document.getElementById("version");
                selectVersions.innerHTML = "";  // Xóa tất cả các options hiện tại

                // Thêm các option mới dựa trên danh sách versions
                versions.forEach(function(version) {
                    var option = document.createElement("option");
                    option.value = version.id;
                    option.text = version.name;
                    selectVersions.add(option);
                });
            }
        };
        xhttp.open("GET", "/admin/productsColor/getVersionsByProduct?productId=" + productId, true);
        xhttp.send();
    }
</script>

</body>
</html>
