<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}">
</head>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>
<!--content -->
<div class="row">
    <th:block th:insert="~{admin/layout/sidebar :: sidebar}"></th:block>
    <div class="col-10 mt-3">
        <th:block th:insert="~{fragments/loading::loading}"></th:block>
        <div>
            <h3 class="page-header">Thông số sản phẩm</h3>
            <div class="container">
                <div th:if="${message}" class="alert alert-success text-center">
                    [[${message}]]
                </div>
                <form th:action="@{/admin/spec/add}" th:object="${specs}">
                    <input type="hidden" name="id">
                    <div class="row">
                        <div class="col-md-6" style="margin-bottom: 20px">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="cpu_name" name="cpu_name" required
                                       th:field="*{cpu_name}" placeholder="CPU">
                                <label for="cpu_name" class="form-label fs-6">CPU</label>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 20px">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="ram_name" name="ram_name" required
                                       th:field="*{ram_name}" placeholder="RAM">
                                <label for="ram_name" class="form-label fs-6">RAM</label>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 20px">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="hard_drive" name="hard_drive" required
                                       th:field="*{hard_drive}" placeholder="Ổ cứng">
                                <label for="hard_drive" class="form-label fs-6">Ổ cứng</label>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 20px">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="card" name="card" required
                                       th:field="*{card}" placeholder="Card">
                                <label for="card" class="form-label fs-6">Card</label>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 20px">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="screen" name="screen" required
                                       th:field="*{screen}" placeholder="Màn hình">
                                <label for="screen" class="form-label fs-6">Màn hình</label>
                                <div class="underline"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 20px;">
                            <div class="input-container">
                                <select class="form-select" id="productList" th:field="*{products}">
                                    <option value="">Products</option>
                                    <option th:each="productlist : ${productList}" th:value="${productlist.getId()}"
                                            th:text="${productlist.getName()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" text-center">
                        <button class="btn btn-outline-success" type="submit">
                            Save
                        </button>
                    </div>

                </form>
            </div>
            <div>
                <table class="table table-hover nhanHieuTable">
                    <thead>
                    <tr class="active">
                        <th class="fw-bold text-center">ID</th>
                        <th class="fw-bold text-center">CPU Name</th>
                        <th class="fw-bold text-center">RAM Name</th>
                        <th class="fw-bold text-center">Hard Drive</th>
                        <th class="fw-bold text-center">Card</th>
                        <th class="fw-bold text-center">Screen</th>
                        <th class="fw-bold text-center">Product</th>

                        <th class="fw-bold text-center"></th>
                    </tr>
                    </thead>
                    <tbody th:each="specs: ${spec}">
                    <tr class="info">
                        <td class="text-center" th:text="*{specs.id}"/>
                        <td class="text-center" th:text="*{specs.cpu_name}"/>
                        <td class="text-center" th:text="*{specs.ram_name}"/>
                        <td class="text-center" th:text="*{specs.hard_drive}"/>
                        <td class="text-center" th:text="*{specs.card}"/>
                        <td class="text-center" th:text="*{specs.screen}"/>
                        <td class="text-center" th:text="*{specs.getProducts().getName()}"/>
                        <td><a class="btn btn-outline-primary my-3" th:href="@{'/admin/spec/update/id=' + *{specs.id}}">update</a>
                            <a class="btn btn-outline-danger " th:href="@{'/admin/spec/delete/' + *{specs.getId()}}">Delete</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <ul class="pagination">
            </ul>
        </div>
    </div>
</div>


<div th:replace="~{admin/layout/footer}"></div>
</body>
<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/js/app.js}"></script>
</html>