<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}">
</head>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>
<!--content -->
<div class="row">
    <th:block th:insert="~{admin/layout/sidebar :: sidebar}"></th:block>
    <div class="col-10 mt-3">
        <th:block th:insert="~{fragments/loading::loading}"></th:block>
        <h3 class="page-header">Quản lý Hình ảnh</h3>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <form th:action="@{/admin/images/add}" th:object="${productImages}" enctype="multipart/form-data" method="post">
            <h4 class="text-info text-center mb-3">Thêm Hình ảnh</h4>
            <div class="row row-cols-2">
                <div class="col mb-3">
                    <label class="form-label"><span class="fw-semibold fs-6 mb-2 d-inline-block">Sản phẩm</span>
                        <select class="form-select" name="product" th:field="*{products}">
                            <option th:each="product : ${productList}" th:value="${product.id}"
                                    th:text="${product.name}"></option>
                        </select>
                    </label>
                </div>
                <div class="col mb-3">
                    <div class="input-container">
                        <label for="files" class="form-label mb-2 fw-semibold fs-6">Chọn hình ảnh</label>
                        <input class="form-control" type="file" id="files" multiple="multiple" name="files"
                               accept="image/png, image/jpeg">
                    </div>
                </div>
            </div>
            <div class=" text-center">
                <button class="btn btn-outline-success" type="submit">
                    Save
                </button>
            </div>
        </form>
        <table class="table table-hover nhanHieuTable">
            <thead>
            <tr class="active">
                <th class="fw-bold text-center">ID</th>
                <th class="fw-bold text-center">Hình ảnh</th>
                <th class="fw-bold text-center">Sản phẩm</th>
                <th class="fw-bold text-center"></th>
                <th class="fw-bold text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="info" th:each="image, index: ${productImageList}">
                <td class="text-center" th:text="${index.index + 1}"></td>
                <td class="text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <img th:src="@{'/uploads/products/'+ *{image.name}}"
                             th:alt="*{image.name}"
                             th:class="${index.index % 2 == 0 ? '' :'img-fluid'}"
                             style="aspect-ratio: 1 / 1; width: 96px; height: 96px;">
                    </div>
                </td>
                <td class="text-center" th:if="${image.products.name != null}" th:text="${image.products.name}"></td>
                <td><a class="btn btn-outline-primary text-center" th:href="@{'/admin/images/update/id='+ *{image.id}}">Update</a>
                </td>
                <td><a class="btn btn-outline-danger text-center" th:href="@{'/admin/images/delete/' + ${image.getId()}}">Delete</a>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
<div th:replace="~{admin/layout/footer}"></div>
<script th:src="@{/admin/js/nhanHieuAjax.js}"></script>
<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>