<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}">

</head>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>
<!--content -->
<div class="row">
    <th:block th:insert="~{admin/layout/sidebar :: sidebar}"></th:block>
    <div class="col-10 mt-3">
        <th:block th:insert="~{fragments/loading::loading}"></th:block>
        <h3 class="page-header">Brand</h3>
        <div class="container">
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <label for="title"></label>
            <form th:action="@{/admin/brand/add}" th:object="${brand}">
                <input type="hidden" name="id">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="title" name="title" required=""
                                   th:field="*{title}" placeholder="Tên thương hiệu">
                            <label for="title" class="form-label fs-6">Tên thương hiệu</label>
                        </div>
                        <p th:errors="*{title}" class="text-danger fs-6 mb-3"
                           th:if="${#fields.hasErrors('title')}"></p>
                    </div>
                </div>
                <div class=" text-center">
                    <button class="btn btn-outline-success" type="submit">
                        Save
                    </button>
                </div>

            </form>
        </div>
        <div>
            <table class="table table-hover nhanHieuTable">
                <thead>
                <tr class="active">
                    <th class="fw-bold text-center">ID</th>
                    <th class="fw-bold text-center">Name Brand</th>
                    <th class="fw-bold text-center"></th>
                </tr>
                </thead>
                <tbody th:each="brands: ${brands}">
                <tr class="info">
                    <td class="text-center" th:text="*{brands.id}"/>
                    <td class="text-center" th:text="*{brands.title}"/>
                    <td><a class="btn btn-outline-primary" th:href="@{'/admin/brand/update/id=' + *{brands.id}}">update</a>
                        <a class="btn btn-outline-danger" th:href="@{'/admin/brand/delete/' + *{brands.getId()}}">Delete</a></td>
                </tr>

                </tbody>
            </table>
            <ul class="pagination">
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{admin/layout/footer}"></div>
</body>
<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/js/app.js}"></script>

</html>