
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Quản lý sản phẩm </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    .modal-open {
      overflow: scroll;
    }
  </style>
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>

<section >
  <h3 class="page-header">Quản lý Sản Phẩm</h3>
  <form th:action="@{/admin/products/add}" th:object="${product}" enctype="multipart/form-data" method="post" >
    <input type="hidden" name="id" >
    <input type="text" id="name" name="name" placeholder="Name" th:field="*{name}">
    <input type="text" id="brand" name="brand" placeholder="Brand" th:field="*{brand}">
    <input type="text" id="price" name="price" placeholder="Price" th:field="*{price}">
    <input type="text" id="oldPrice" name="oldPrice" placeholder="Old Price" th:field="*{oldPrice}">
    <input type="text" id="shortDesc" name="shortDesc" placeholder="ShortDesc" th:field="*{shortDesc}">
    <input type="text" id="discount" name="discount" placeholder="DisCount" th:field="*{discount}">
    <input type="text" id="status" name="status" placeholder="Status" th:field="*{status}">
    <input type="file" id="files" multiple="multiple" name="files"  accept="image/png, image/jpeg">
    <select class="form-control" id="category" th:field="*{category}">
      <option value="" th:if="${selectedValue}" th:disabled="disabled">Danh mục</option>
      <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getMainName()}"></option>
    </select>

    <input class="btn btn-primary m-2" type="submit" value="Save">
  </form>

<table class="table table-hover sanPhamTable "
       style="text-align: center;">
  <thead>
  <tr>
    <th>ID</th>
    <th>Product Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Old Price</th>
    <th>Short Description</th>
    <th>Discount</th>
    <th>Status</th>


    <th></th>
  </tr>
  </thead>
  <tbody th:each=" product: ${productList}">
  <td class="text-center" th:text="*{product.id}"></td>
  <td class="text-center" th:text="*{product.name}"></td>
  <td class="text-center" th:text="*{product.brand}"></td>
  <td class="text-center" th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></td>
  <td class="text-center" th:text="${#numbers.formatDecimal(product.getOldPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></td>
  <td class="text-center" th:text="*{product.shortDesc}"></td>
  <td class="text-center" th:text="${product.discount}+' %'"></td>
  <td class="text-center" th:text="*{product.status}"></td>

  <td><a th:href="@{'/admin/products/delete/' + *{product.id}}">Delete</a></td>
  </tbody>

</table>

<ul class="pagination">
</ul>
</section>

</div>


<div th:replace="admin/layout/footer"></div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
<script th:src="@{/admin/js/sanPhamAjax.js}"></script>

</body>
</html>