<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body>
<div th:replace="admin/layout/header :: headerAdmin"></div>
<!--content -->
<div class="row">
        <th:block th:insert="admin/layout/sidebar :: sidebar"></th:block>
    <div class="col-10 mt-3">
        <h3 class="page-header">Quản lý Tài khoản</h3>
        <div class="container">
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>
        </div>
        <table class="table table-hover "
               style="text-align: center;">
            <thead>
            <tr class="active">
                <th class="text-center fw-bold">ID</th>
                <th class="text-center fw-bold">UserName</th>
                <th class="text-center fw-bold">Role</th>
                <th class="text-center fw-bold">Trạng thái</th>
                <th></th>
            </tr>

            </thead>
            <tbody th:each="user, count: ${users}">
            <th:block th:if="*{user.id != currentUser.id}">
                <tr class="info">
                    <td class="text-center" th:text="*{count.index}"></td>
                    <td class="text-center" th:text="*{user.username}"></td>
                    <td class="text-center">
                        <th:block th:each="role : *{user.roles}">
                            <span th:text="${role.name}"></span>
                        </th:block>
                    </td>
                    <td class="text-center"
                        th:class="*{user.active} ? 'fw-semibold text-success' : 'fw-semibold text-danger'"
                        th:text="*{user.active} ? 'Hoạt động' : 'Hủy'"></td>

                    <td><a class="btn btn-outline-primary" th:href="@{'/admin/accounts/update/id=' + ${user.id}}">Update</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="admin/layout/footer"></div>
</body>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
<script th:src="@{/admin/js/taiKhoanAjax.js}"></script>
<script th:src="@{/admin/js/admin.js}"></script>
</html>