<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
</head>
<body>
<div th:replace="admin/layout/header :: headerAdmin"></div>
<!--content -->
<div class="row">
    <th:block th:insert="admin/layout/sidebar :: sidebar"></th:block>
    <div class="col-10 mt-3">
        <h3 class="page-header">Quản lý mô tả</h3>
        <div class="container">
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <form
                    th:action="@{/admin/desc/add}"
                    th:object="${description}"
                    method="post"
            >
                <div class="row">
                    <input type="hidden" name="id"/>
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text"
                                   id="title"
                                   name="title"
                                   required
                                   th:field="*{title}" placeholder="Tiêu đề">
                            <label for="title" class="form-label fs-6">Tiêu đề</label>
                        </div>
                        <p
                                th:errors="*{title}"
                                class="text-danger fs-6 mb-3"
                                th:if="${#fields.hasErrors('title')}"
                        ></p>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <div class="mb-3">
                            <label for="content" class="form-label fs-6">Nội dung</label>
                            <textarea class="form-control" id="content" th:field="*{content}" required rows="3"></textarea>
                        </div>
                        <p
                                th:errors="*{content}"
                                class="text-danger fs-6 mb-3"
                                th:if="${#fields.hasErrors('content')}"
                        ></p>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <select
                                class="form-control"
                                id="products">
                            <option
                                    th:each="product : ${productList}"
                                    th:value="${product.id}"
                                    th:text="${product.name != null ? product.name : 'N/A'}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success" type="submit">Save</button>
                </div>
            </form>
        </div>
        <table class="table table-hover nhanHieuTable">
            <thead>
            <tr class="active">
                <th class="fw-bold text-center">ID</th>
                <th class="fw-bold text-center">Title</th>
                <th class="fw-bold text-center">Content</th>
                <th class="fw-bold text-center">Products</th>

                <th class="fw-bold text-center"></th>
            </tr>
            </thead>
            <tbody th:each="desc, index : ${descriptions}">
            <tr class="info" style="line-height: 1.4rem;">
                <td class="text-center" th:text="*{index.index+1}"></td>
                <td class="text-center" th:text="*{desc.title}"></td>
                <td class="text-center" th:text="*{desc.content}"></td>
                <td class="text-center" th:if="*{desc.products != null}" th:text="*{desc.products.name}"></td>
                <td>
                    <a class="btn btn-outline-success"
                       th:href="@{'/admin/desc/update/id=' + *{desc.id}}">Update</a>
                    <a class="btn btn-outline-danger"
                       th:href="@{'/admin/desc/delete/' + *{desc.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination"></ul>
        <div th:replace="admin/layout/footer"></div>
    </div>
</div>
</body>
<script th:src="@{/admin/js/admin.js}"></script>
</html>
