<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}">

</head>
<body>
<div th:replace="admin/layout/header :: headerAdmin"></div>
<!--content -->
<div class="row">
    <th:block th:insert="admin/layout/sidebar :: sidebar"></th:block>
    <div class="col-10 mt-3">
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th class="fw-bold text-center">Mã đơn hàng</th>
                    <th class="fw-bold text-center">Người đặt hàng</th>
                    <th class="fw-bold text-center">Trạng thái</th>
                    <th class="fw-bold text-center">Ngày đặt hàng</th>
                    <th class="fw-bold text-center">Tổng tiền</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:each="order : ${orders}">
                <tr>
                    <td>
                            <div class="ms-3">
                                <p class="fw-bold mb-1 text-center"><span
                                        th:text="'HD' + ${#dates.format(order.createdAt, 'ddMMyyHHmm')}"></span></p>
                            </div>
                    </td>
                    <td>
                        <span class="d-block fw-normal mb-1 text-success text-center"
                                th:text="*{order.user.userDetailEmbeddable.lastName}"></span>
                    </td>
                    <td><span class="text-center d-block" th:text="*{order.status}"></span>
                    </td>
                    <td>
                <span class="rounded-pill d-inline"><span class="text-center d-block"
                                                          th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy')}"></span></span>
                    </td>
                    <td><span class="mb-0 ms-2 text-center d-block"
                              th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                    </td>
                    <td><a class="btn btn-outline-primary" th:href="@{'/admin/order/update/id=' + *{order.id}}">Update
                        trạng thái</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script th:src="@{/admin/js/admin.js}"></script>
</html>