
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Quản lý tài khoản </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>

<div style="margin-left: 12%">
  <h3 class="page-header">Quản lý Tài khoản</h3>

  <form th:action="@{/admin/accounts/add}" method="post" >
    <input type="hidden" name="id" >
    <input type="text" id="username" name="username" placeholder="UserName">
    <input type="text" id="password" name="password" placeholder="PassWord">
    <input type="text" id="confirmPassword" name="confirmPassword" placeholder="Confirm PassWord">

    <input class="btn btn-primary m-2" type="submit" value="Save">
  </form>

  <table class="table table-hover "
         style="text-align: center;">
    <thead>
    <tr>
      <th>ID</th>
      <th>UserName</th>
      <th>Password</th>
      <th>Role</th>
      <th></th>
    </tr>

    </thead>
    <tbody th:each="user: ${user}">
    <td>[[${user.id}]]</td>
    <td>[[${user.username}]]</td>
    <td>[[${user.password}]]</td>
    <td>[[${user.isActive}]]</td>

    <td><a th:href="@{'/admin/accounts/delete/' + ${user.id}}">Delete</a></td>
    </tbody>

  </table>
</div>

</div>


<div th:replace="admin/layout/footer"></div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
<script th:src="@{/admin/js/taiKhoanAjax.js}"></script>

</body>
</html>