<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Quản lý đơn hàng </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>
<section>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-hover align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th class="fw-bold">Mã đơn hàng</th>
                <th class="fw-bold">Người đặt hàng</th>
                <th class="fw-bold">Trạng thái</th>
                <th class="fw-bold">Ngày đặt hàng</th>
                <th class="fw-bold">Tổng tiền</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="order : ${orders}">
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1 text-center"><span
                                    th:text="'HD' + ${#dates.format(order.createdAt, 'ddMMyyHHmm')}"></span></p>
                        </div>
                    </div>
                </td>
                <td>
<!--                    <p class="fw-normal mb-1 text-success text-center"><span th:text="*{order.user.userDetailEmbeddable.lastName}"></span></p>-->
                </td>
                <td>
                    <p class="text-center" ><span th:text="*{order.status}"></span></p>
                </td>
                <td>
                <span class="rounded-pill d-inline"><span class="text-center"
                        th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy')}"></span></span>
                </td>
                <td><span class="mb-0 ms-2 text-center"
                          th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                </td>
<!--                <td>-->
<!--                    <a th:href="@{'/order/order='+*{order.id}}" class="btn btn-link btn-sm btn-rounded">-->
<!--                        Xem-->
<!--                    </a>-->
<!--                </td>-->
                <td><a th:href="@{'/admin/order/update/id=' + *{order.id}}">Update trạng thái</a>
                    <a th:href="@{'/admin/order/delete/' + *{order.id}}">Delete</a></td>


            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>