
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Quản lý nhãn hiệu </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>

<div style="margin-left: 12%">
  <h3 class="page-header">Quản lý Hình ảnh</h3>

  <form th:action="@{/admin/images/add}" enctype="multipart/form-data" method="post" >
    <input type="hidden" name="id" >
    <input type="text" id="name" name="name" placeholder="Name" >
    <input type="file" id="url" name="url"  th:object="${productImages}">

    <select class="form-control" id="productlist" >
      <option value="">Products</option>
      <option th:each="productlist : ${productList}" th:value="${productlist.getId()}" th:text="${productlist.getName()}"></option>
    </select>

    <input class="btn btn-primary m-2" type="submit" value="Save">
  </form>

  <table class="table table-hover nhanHieuTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Image Name</th>
      <th>Url</th>



      <th></th>
    </tr>
    </thead>
    <tbody th:each="user: ${productImages}">
    <td>[[${user.id}]]</td>
    <td>[[${user.name}]]</td>
    <td>[[${user.url}]]</td>



    <td><a th:href="@{'/admin/images/delete/' + ${user.id}}">Delete</a></td>
    </tbody>

  </table>

  <ul class="pagination">
  </ul>
</div>
<div class="row col-md-6">
  <form class="nhanHieuForm" id="form">

    <div>
      <div class="modal fade" id="nhanHieuModal" tabindex="-1"
           role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tạo mới/Cập nhật Nhãn hiệu</h5>
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label >ID:</label> <input type="text"
                                                   class="form-control" id="id" />
              </div>
              <div class="form-group">
                <label >Tên hãng sản xuất:</label> <input type="text"
                                                                    class="form-control" id="tenHangSanXuat" placeholder="Nhập vào tên hãng sản xuất" required />
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Hủy</button>
                <input class="btn btn-primary" id="btnSubmit" type="button"
                       value="Xác nhận"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>


<div th:replace="admin/layout/footer"></div>
<script th:src="@{/admin/js/nhanHieuAjax.js}"></script>

</body>
</html>