<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <title>thống kê </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>

<div class="row">
    <!--content -->
    <div th:replace="~{admin/layout/sidebar :: sidebar}"></div>
    <div class="col-10 mt-3">
        <th:block th:insert="~{fragments/loading::loading}"></th:block>
        <h2>Biểu đồ Doanh thu theo Tháng</h2>

        <div class="container">
            <!-- Canvas để vẽ biểu đồ -->
            <canvas id="revenueChart"></canvas>

            <script th:inline="javascript">
                /* Dữ liệu doanh thu từ controller */
                let revenueDataList = [[${revenueDataList}]];

                revenueDataList.sort(function(a, b) {
                    return new Date(b.year, b.month - 1) - new Date(a.year, a.month - 1);
                });

                let combinedData = revenueDataList.map(function (data) {
                    return {
                        label: data.month + '/' + data.year,
                        data: data.total
                    };
                });
                combinedData.sort(function (a, b) {
                    var dateA = new Date('01 ' + a.label);
                    var dateB = new Date('01 ' + b.label);
                    return dateA - dateB;
                });
                // Kết hợp labels và data thành một cặp giá trị
                let labels = combinedData.map(function (item) {
                    return item.label;
                });
                let data = combinedData.map(function (item) {
                    return item.data;
                });

                /* Vẽ biểu đồ cột */
                var ctx = document.getElementById('revenueChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Doanh thu (VNĐ)',
                            data: data,
                            backgroundColor: 'rgb(19,31,173)',
                            borderColor: 'rgb(17,17,17)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                ticks: {
                                    font: {
                                        weight: 'bold',
                                        size: '14em'
                                    }
                                }
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/app.js}"></script>
</html>