
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>thống kê </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>

<section>
  <h3 class="page-header">Thống kê</h3>

  <body>
  <h1>Biểu đồ thống kê Doanh thu theo tháng</h1>
  <canvas id="revenueChart" width="400" height="400"></canvas>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<div th:replace="admin/layout/footer"></div>
  <script>
    var ctx = document.getElementById('revenueChart').getContext('2d');
    var revenueByMonth = revenueByMonth;

    var months = Object.keys(revenueByMonth);
    var revenueValues = Object.values(revenueByMonth);

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: months,
        datasets: [{
          label: 'Doanh thu theo tháng',
          data: revenueValues,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

</section>
</body>
</html>