<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-fluid">
    <div class="col-md-3">

        <div id="sidebar">
            <div class="container-fluid tmargin">
                <div class="input-group">
                    <!--             <input type="text" class="form-control" placeholder="Search..." />
                                <span class="input-group-btn">
                                  <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </button>
                                </span> -->
                </div>
            </div>

            <ul class="nav navbar-nav side-bar">

                <li class="side-bar tmargin">
                    <a href="#">
                        <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Quản lý Đơn hàng</a>
                </li>
                <li class="side-bar main-menu">
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope">&nbsp;</span>Quản lý Liên Hệ</a>
                </li>


                <li class="side-bar ">
                    <a th:href='@{/admin/category}'>
                        <span class="glyphicon glyphicon-tasks">&nbsp;</span>Quản lý Danh Mục</a>
                </li>
                <li class="side-bar ">
                    <a th:href='@{/admin/products}'>
                        <span class="glyphicon glyphicon-folder-open">&nbsp;</span>Quản lý Sản phẩm</a>
                </li>
                <li class="side-bar ">
                    <a th:href='@{/admin/brands}' >
                        <span class="glyphicon glyphicon-flag">&nbsp;</span>Quản lý Nhãn hiệu</a>
                </li>

                <li class="side-bar ">
                    <a th:href='@{/admin/accounts}'>
                        <span class="glyphicon glyphicon-th-list">&nbsp;</span>Quản lý Tài khoản</a>
                </li>

                <li class="side-bar ">
                    <a th:href='@{/admin/dashboard}'>
                        <span class="glyphicon glyphicon-signal">&nbsp;</span>Thống kê</a>
                </li>

                <li class="side-bar ">
                    <a th:href='@{/admin/profile}'>
                        <span class="glyphicon glyphicon-user">&nbsp;</span>Thông tin cá nhân</a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
