spring:
  thymeleaf:
    cache: false
  web:
    locale: vi_VN
    locale-resolver: fixed
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB

---
server:
  error:
    whitelabel:
      enabled: false
---
spring:
### My SQL
  datasource:
    url: jdbc:mysql://localhost:3306/laptop_world?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1234
    tomcat:
      connection-properties:
        useUnicode=true
        characterEncoding=utf-8

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5Dialect
#    show-sql: true
#    hibernate:
#      ddl-auto: update

### MS SQL
#  datasource:
#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://sqlsrv\\sqlexpress;databaseName=customer
#    username: sa
#    password: 1234
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5Dialect
#    show-sql: true
#    hibernate:
#      ddl-auto: update