spring:
  thymeleaf:
      cache: false
  web:
    locale: vi_VN
    locale-resolver: fixed

---
spring:
### My SQL
  datasource:
    url: jdbc:mysql://localhost:3306/laptop_world?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1234

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: true
    hibernate:
      ddl-auto: update

### MS SQL
#  datasource:
#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://sqlsrv\\sqlexpress;databaseName=customer
#    username: sa
#    password: 1234
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5Dialect
#    show-sql: true
#    hibernate:
#      ddl-auto: update