<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row row-cols-2 g-2" style="margin-top: 9rem">
        <!-- card left -->
        <div class="col">
            <div>
                <div class="productGallery_slider">
                    <div id="carouselExample" class="carousel carousel-dark slide"
                         data-bs-ride="carousel">
                        <!--                            indicator-->
                        <ol class="carousel-indicators" style="bottom: -2.2rem !important;">
                            <li th:each="productImage : ${productImages}" data-bs-target="#carouselExample"
                                th:data-bs-slide-to="${productImageStat.index}"
                                th:classappend="${productImageStat.first} ? 'active' : ''"
                                th:attr="aria-current=${productImageStat.first} ? 'true' : 'false', aria-label='Slide ' + ${productImageStat.count}"></li>
                        </ol>
                        <!--                            inner-->
                        <div class="carousel-inner">
                            <div th:each="productImage : ${productImages}"
                                 th:classappend="${productImageStat.first} ? 'carousel-item active' : 'carousel-item'">
                                <img th:src="@{'/uploads/products/'+ ${productImage.getName()} }"
                                     class="d-block w-100" th:alt=" ${productImage.getName()}">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="productGallery_thumb" data-image-name="${product}">
                    <ul class="productList-thumb ms-auto">
                        <div th:each="product : ${products}">
                            <li class="track-item my-3 image-link" th:each="image, imageIndex : *{product.getImages()}">
                                <a href="#" class="image-link"
                                   th:data-image-src="@{/uploads/products/{imageName}(imageName=${image.getName()})}">
                                    <img
                                            th:src="@{'/uploads/products/'+ *{image.getName()}}"
                                            class="thumb-image" th:alt="*{image.getName()}"></a></li>
                        </div>
                    </ul>
                </div>
                <div class="image-overlay">
                    <div class="image-container">
                        <img class="image-popup" alt="Popup Image">
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card-header">
                            Thông tin khuyến mãi
                        </div>
                        <div class="card-body">
                            <!-- <h5 class="card-title">Special title treatment</h5> -->
                            <p class="card-text">KHÁCH HÀNG ĐƯỢC CHỌN 1 TRONG 2 OPTION KHUYẾN MẠI:


                                .</p>
                            <p class="card-text">- Cấu hình gốc RAM 8GB - Giá: 15.990.000đ</p>
                            <p class="card-text">- (*)Tặng thêm 8GB RAM - Giá: 16.390.000đ</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>
                            <p class="card-text">(*) TẶNG RAM 8GB DDR4 bus 3200 G.Skill RIPJAWS | Silicon Power</p>

                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="col position-relative">
            <div class="product-content" th:each="product : ${products}">
                   <span th:if="*{product.status == false}" class="position-absolute translate-middle badge rounded-pill bg-danger"
                         style="top: 2%; left: -90%; z-index: 1;">Hết hàng</span>
                <h2 class="product-title" th:text="*{product.name}"></h2>
                <div class="product-price">
                    <p class="last-price">Giá gốc: <span
                            th:text="${#numbers.formatDecimal(product.getOldPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                    </p>
                    <p class="new-price">Giảm còn: <span
                            th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                    </p>
                </div>

                <div class="product-detail mt-3">
                    <div style="font-weight: 500; font-size: 2rem; line-height: 3rem;">Thông tin về sản phẩm</div>
                    <p th:text="*{product.shortDesc}"></p>
                    <ul>
                        <li>Color: <span>Black</span></li>
                        <li>Available: <span>in stock</span></li>
                        <li>Category: <span>Shoes</span></li>
                        <li>Shipping Area: <span>All over the world</span></li>
                        <li>Shipping Fee: <span>Free</span></li>
                    </ul>
                </div>

                <th:block th:if="*{product.status==true}">
                    <form th:action="@{'/cart/add/'+ ${product.id}}" method="post" class="purchase-info">
                        <input type="hidden" name="productId" th:value="*{product.id}">
                        <div class="d-flex w-100">
                            <button type="button" class="custom-btn-primary p-1 quantity-control" data-action="decrease">-
                            </button>
                            <input type="text" name="quantity" value="1"
                                   class="form-control text-center mx-1 text-black" th:max="*{product.getQuantity()}" readonly="readonly" style="cursor: default">
                            <button type="button" class="custom-btn-primary p-1 quantity-control" data-action="increase">+
                            </button>
                            <button type="submit" class="btn mx-2">Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </form>
                </th:block>
                <th:block th:unless="*{product.status == true}">
                    <div class="purchase-info disable">
                        <input type="hidden" name="productId" th:value="*{product.id}">
                        <div class="d-flex w-100">
                            <button type="button" class="custom-btn-primary p-1 quantity-control disable" data-action="decrease">-
                            </button>
                            <input type="text" name="quantity" value="1"
                                   class="form-control text-center mx-1 text-black" th:max="*{product.getQuantity()}" readonly="readonly" disabled style="cursor: no-drop;">
                            <button type="button" class="custom-btn-primary p-1 quantity-control disable" data-action="increase">+
                            </button>
                            <button type="button" class="btn mx-2 disabled">Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const imageLinks = document.querySelectorAll(".image-link");
        const imageOverlay = document.querySelector(".image-overlay");
        const imageContainer = document.querySelector(".image-container");
        const imagePopup = document.querySelector(".image-popup");

        imageLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
                event.preventDefault();
                console.log(link.getAttribute("data-image-src"))
                const imageUrl = link.getAttribute("data-image-src");

                if (imageUrl) {
                    imagePopup.src = imageUrl;
                    imageOverlay.style.display = "block";
                } else {
                    console.error("No valid image URL found.");
                }
                imageOverlay.style.display = "block";
            });
        });

        imageOverlay.addEventListener("click", function () {
            imageOverlay.style.display = "none";
        });
    });
</script>
<script th:src="@{/js/app.js}"></script>
</html>