<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="max-width: 1170px;">

    <!--        Danh mục trang chủ-->
    <div class="row">
        <div class="col">
            <div class="d-flex pb-3 align-items-center flex-wrap">
                <a th:href="@{/}" class=" text-decoration-none" style="font-size: 1rem; color: #777;">Trang chủ</a>
                <div class="product-page-line mx-2"></div>
                <p class="text-center m-0" style="font-size: 1rem; color: #777;"
                   th:each="categoryName :${categoryName}" th:text="*{categoryName}"></p>
                <div class="product-page-line mx-2"></div>
                <p class=" text-center m-0" style="font-size: 1rem; color: #333;"
                   th:text="${product.getName()}"></p>
            </div>
        </div>
        <!--            List ảnh-->
<!--        <section class="row">-->
<!--            <div class="col-6" style="position: sticky; top: 76px; display: flex;">-->
<!--                <div class="productGallery_thumb">-->
<!--                    <ul class="productList-thumb p-0">-->
<!--                        <div class="productList-slick" style="height: 468px;">-->
<!--                            <div class="productList-track"-->
<!--                                 style="height: 100%; opacity: 1; transform: translate3d(0px, 0px,0px);">-->
<!--                                <div th:each="product : ${product}">-->
<!--                                    <li class="track-item my-3" th:each="image : *{product.getImages()}">-->
<!--                                        <a href="#">-->
<!--                                            <img-->
<!--                                                    th:src="@{'/img/products/'+ *{image.getUrl()}}"-->
<!--                                                    class="w-100" th:alt="*{image.getName()}"></a></li>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->

<!--                    </ul>-->
<!--                </div>-->
                <!--                    Ảnh lớn-->
<!--                <div class="productGallery_slider">-->
<!--                    <div id="carouselExample" class="carousel carousel-dark slide"-->
<!--                         data-bs-ride="carousel">-->
<!--                        &lt;!&ndash;                            indicator&ndash;&gt;-->
<!--                        <ol class="carousel-indicators">-->
<!--                            <li th:each="productImage : ${productImages}" data-bs-target="#carouselExample"-->
<!--                                th:data-bs-slide-to="${productImageStat.index}"-->
<!--                                th:classappend="${productImageStat.first} ? 'active' : ''"-->
<!--                                th:attr="aria-current=${productImageStat.first} ? 'true' : 'false', aria-label='Slide ' + ${productImageStat.count}"></li>-->
<!--                        </ol>-->
<!--                        &lt;!&ndash;                            inner&ndash;&gt;-->
<!--                        <div class="carousel-inner">-->
<!--                            <div th:each="productImage : ${productImages}"-->
<!--                                 th:classappend="${productImageStat.first} ? 'carousel-item active' : 'carousel-item'">-->
<!--                                <img th:src="@{'/img/products/'+ ${productImage.getUrl()} }"-->
<!--                                     class="d-block w-100" th:alt=" ${productImage.getName()}">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <button class="carousel-control-prev" type="button"-->
<!--                                data-bs-target="#carouselExample"-->
<!--                                data-bs-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Previous</span>-->
<!--                        </button>-->

<!--                        <button class="carousel-control-next" type="button"-->
<!--                                data-bs-target="#carouselExample"-->
<!--                                data-bs-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Next</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-6">
                <h3 class="my-3" th:text="${product.getName()}"></h3>
                <div class="my-2">
                    <del class="me-2" th:if="*{product.getOldPrice() != null}"
                         th:text="${#numbers.formatDecimal(product.getOldPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'">
                    </del>
                    <span class="fs-3 fw-semibold text-danger"
                          th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'">
                            </span>
                </div>
                <form  method="post">
                    <div class="d-flex w-50 mt-3">
                        <button type="button" class="custom-btn-primary quantity-control" data-action="decrease">-
                        </button>
                        <input type="number" name="quantity" value="1"
                               class="form-control w-100 text-center mx-1 text-black">
                        <button type="button" class="custom-btn-primary quantity-control" data-action="increase">+
                        </button>
                        <input type="hidden" name="productId" th:value="${product.id}">
                    </div>
                    <button type="submit" class="btn w-100 py-2 px-0 my-3"
                            style="background-color: black; color: #fff;"><span
                            style="font-size: 1.2rem; font-weight: 500;">Đặt hàng</span></button>
                </form>
                <div class="my-2">
                    <h4 style="font-size: 1rem;">THÔNG TIN SẢN PHẨM</h4>
                    <div>
                        <p th:text="${product.description}"></p>
                    </div>
                </div>

            </div>
        </section>
        <section style="margin-top: 40px; padding-top: 40px; border-top: 1px solid #e7e7e7;">
            <div class="container px-3 mx-auto mb-4">
                <h5 class="text-center">Sản phẩm liên quan</h5>
                <div class="row row-cols-4 g-4">
                    <div class="col" th:each="related : ${relatedProduct}">

                        <a class="card"
                           th:href="@{'/products/productId='+ *{related.getId()}+'&categoryId='+${categoryId}} ">
                            <div th:each="image, limit : *{related.getImages()}" th:if="${limit.index} &lt; 2">
                                <img th:src="@{'/img/products/'+ *{image.getUrl()}}"
                                     th:alt="*{image.getName()}"
                                     th:class="${limit.index % 2 == 0 ? '' :'img-fluid'}"
                                     style="aspect-ratio: 1 / 1;">
                            </div>
                            <div class="card-body">
                                <div class="card-title" style="line-height: 1.3rem;"
                                     th:text="*{related.getName()}"></div>
                                <div class="card-text"><span class="text-danger fw-bold"
                                                             style="font-size: 0.9rem;"><span
                                        th:text="${#numbers.formatDecimal(related.getPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                        </span>
                                    <span class="mx-2"
                                          style="color: #333; text-decoration: line-through; font-size: 0.8rem;"
                                          th:if="*{related.getOldPrice() != null}"
                                          th:text="${#numbers.formatDecimal(related.getOldPrice(), 0, 'COMMA', 0, 'DEFAULT')} + ' &#x20AB;'"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>