
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Quản lý User </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>
<section>
  <div >
    <h3 class="text-center page-header">UPDATE USER</h3>
    <div class="container">
      <label for="username"></label>
      <form th:action="@{/admin/accounts/update}" th:object="${users}" method="post">
        <div class="row">
          <input type="hidden" name="id"  th:field="*{id}">
          <div style="margin-bottom: 20px" class="col-md-12">
            <input class="form-control" type="text" id="username" name="username" placeholder="Username" th:field="*{username}">
          </div>
          <div style="margin-bottom: 20px" class="col-md-12">
            <input class="form-control" type="email" id="email" name="email" placeholder="Email" th:field="*{email}">
          </div>
<!--          <div style="margin-bottom: 20px" class="col-md-12">-->
<!--            <input class="form-control" type="password" id="password" name="password" placeholder="Password" th:field="*{password}">-->
<!--          </div>-->
          <div style="margin-bottom: 20px" class="col-md-6">
          <select class="form-control my-1" name="status" th:field="*{active}" >
            <option th:value="1" class="text-success">Hoạt động</option>
            <option th:value="0" class="text-danger">Hủy</option>
          </select>
          </div>
        </div>

        <div class=" text-center">
          <button type="submit">
            Update
          </button>
          <button onclick="cancelForm()" type="button">
            Cancel
          </button>
        </div>
      </form>
    </div>

    <ul class="pagination">
    </ul>
  </div>
</section>





<div th:replace="admin/layout/footer"></div>
<!--<script th:src="@{/admin/js/danhMucAjax.js}"></script>-->
<script type="text/javascript">
  function cancelForm(){
    window.location = "[[@{/admin/accounts}]]";
  }
</script>
</body>
</html>