<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body>
<div th:replace="admin/layout/header :: headerAdmin"></div>
<!--content -->
<div class="row">
    <th:block th:insert="admin/layout/sidebar :: sidebar"></th:block>
    <div class="col-10 mt-3">
        <h3 class="text-center page-header">UPDATE VERSION</h3>
        <div class="container">
            <label for="name"></label>
            <form th:action="@{/admin/productsVersion/update}" th:object="${version}" method="post">
                <div class="row">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div style="margin-bottom: 20px" class="col-md-6">
                        <input class="form-control" type="text" disabled id="id" name="id" th:field="*{id}">
                    </div>
                    <div style="margin-bottom: 20px" class="col-md-6">
                        <input class="form-control" type="text" id="name" name="name" th:field="*{name}">
                    </div>

                </div>
                <div class=" text-center">
                    <button type="submit">
                        Update
                    </button>
                    <button onclick="cancelForm()" type="button">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
        <ul class="pagination">
        </ul>
    </div>
</div>
<div th:replace="admin/layout/footer"></div>
<!--<script th:src="@{/admin/js/danhMucAjax.js}"></script>-->
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/productsVersion}]]";
    }
</script>
</body>
</html>