<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin.css}">

</head>
<body>
<div th:replace="~{admin/layout/header :: headerAdmin}"></div>
<!--content -->
<div class="row">
    <th:block th:insert="~{admin/layout/sidebar :: sidebar}"></th:block>
    <div class="col-10 mt-3">
        <h3 class="text-center page-header">UPDATE MÔ TẢ</h3>
        <div class="container">
            <form th:action="@{/admin/desc/update}" th:object="${descriptions}" method="post">
                <div class="row">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div style="margin-bottom: 20px" class="col-md-6">
                        <input class="form-control" type="text" disabled id="id" name="id" th:field="*{id}">
                    </div>
                    <div style="margin-bottom: 20px" class="col-md-12">
                        <input class="form-control" type="text" id="cpu_name" name="cpu_name"
                               th:field="*{title}">
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px">
                        <div class="mb-3">
                            <label for="content" class="form-label fs-6">Nội dung</label>
                            <textarea class="form-control" id="content" th:field="*{content}" required rows="3"></textarea>
                        </div>
                    </div>

                    <div style="margin-bottom: 20px" class="col-md-12">
                        <select class="form-control" name="product" id="product">
                            <option value="">Product</option>
                            <option th:each="product : ${productList}" th:value="${product.id}"
                                    th:selected="${product.name == descriptions.products.name}"
                                    th:text="${product.name != null ? product.name : 'N/A'}"></option>
                        </select>
                    </div>

                </div>
                <div class=" text-center">
                    <button class="btn btn-outline-success" type="submit">
                        Update
                    </button>
                    <button class="btn btn-outline-danger" onclick="cancelForm()" type="button">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

        <ul class="pagination">
        </ul>
    </div>
</div>

<div th:replace="~{admin/layout/footer}"></div>
<!--<script th:src="@{/admin/js/danhMucAjax.js}"></script>-->
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/desc}]]";
    }
</script>
</body>
</html>