<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top navbar-light p-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img class="img-fluid" style="height: 6rem;"
                     th:src="@{/images/logo.png}"
                     alt="Laptop World"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
                <div class="input-group">
                        <span class="border-warning input-group-text bg-warning text-white"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                    <button class="btn btn-warning text-white">Tìm kếm</button>
                </div>
            </div>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <div class="ms-auto d-none d-lg-block">
                    <div class="input-group">
                            <span class="border-warning input-group-text bg-warning text-white"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                        <form th:action="@{/search}"  method="get">
                        <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm..." autocomplete="off" class="form-control border-warning" style="color:#7a7a7a">
                        </form>
                    </div>
                </div>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 " th:href="@{/collections}">Sản phẩm</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-2 " href="#">Thông tin về chúng tôi</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link mx-2 position-relative" th:href="@{/cart}"><i class="fa-solid fa-cart-shopping me-1 fs-5"></i>
                            <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                                  style="top: 8px; left: 26%;" th:text="${cartItemCount}">
                                    <span class="visually-hidden">No product</span>
                                </span>
                            <span sec:authorize="!isAuthenticated()" class="position-absolute translate-middle badge rounded-pill bg-danger"
                                  style="top: 8px; left: 26%;">0
                                    <span class="visually-hidden">No product</span>
                                </span>
                            Giỏ hàng</a>
                    </li>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <p sec:authorize="!isAuthenticated()" class="m-0"><i
                                        class="fa-solid fa-circle-user me-1 fs-5"></i>
                                    Tài khoản
                                </p>
                                <p sec:authorize="isAuthenticated()" class="m-0"><i
                                        class="fa-solid fa-circle-user me-1"></i>
                                    Xin chào, <span th:text="${#authentication.principal.username}"></span></p>

                            </a>
                            <ul class="dropdown-menu">
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item"
                                                                          th:href="@{/login}">Đăng nhập</a></li>
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item"
                                                                          th:href="@{/register}">Đăng ký</a>
                                </li>

                                <li sec:authorize="isAuthenticated() and hasAuthority('USER')"><a class="dropdown-item"
                                                                         th:href="@{/user/profile}">Trang cá nhân</a></li>
                                <li sec:authorize="isAuthenticated() and hasAuthority('ADMIN')"><a class="dropdown-item"
                                                                         th:href="@{/admin/home}">Trang quản trị</a></li>
                                <li sec:authorize="isAuthenticated()"><a class="dropdown-item"
                                                                         th:href="@{/logout}">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>