<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<th:block th:insert="fragments/loading :: loading"></th:block>
<div class="container" style="margin-top: 8rem">
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
            <th:block th:if="${errorMessage != null}">
                <div class="alert alert-danger" th:text="${errorMessage}"></div>
            </th:block>
            <th:block th:if="${param.success != null}">
                <div class="alert alert-success mb-3">
                    Cập nhật thành công!
                </div>
            </th:block>
            <h3 class="text-center mb-2">Trang cá nhân</h3>
            <form th:object="${user}" th:action="@{/user/profile}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-floating mb-3">
                    <input th:field="*{userDetailEmbeddable.firstName}" type="text" class="form-control"
                           id="firstname" placeholder="Họ" required>
                    <label for="firstname" class="form-label fs-6">Họ</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{userDetailEmbeddable.lastName}" type="text" class="form-control"
                           id="lastname" placeholder="Tên" required>
                    <label for="lastname" class="form-label fs-6">Tên</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{userDetailEmbeddable.fullName}" type="text" class="form-control"
                           id="fullname" placeholder="Họ và Tên" required>
                    <label for="fullname" class="form-label fs-6">Họ và Tên</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{email}" type="email" class="form-control"
                           id="email" placeholder="Email" required readonly="readonly">
                    <label for="email" class="form-label fs-6">Email</label>
                    <p th:errors="*{email}" class="text-danger fs-6 mb-3" th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{userDetailEmbeddable.address}" type="text" class="form-control"
                           id="address" placeholder="Địa chỉ" required>
                    <label for="address" class="form-label fs-6">Địa chỉ</label>
                </div>
                <div class="phone-container">
                    <input type="text" value="+84" readonly="readonly" class="form-control readonly-input"/>
                    <div class="form-floating mb-3 w-100">
                        <input th:field="*{userDetailEmbeddable.phoneNumber}" type="text" class="form-control phone-input"
                               id="phoneNumber" placeholder="Số điện thoại" onblur="validateNumberInput(this)" required>
                        <label for="phoneNumber" class="form-label fs-6">Số điện thoại</label>
                        <p th:errors="*{userDetailEmbeddable.phoneNumber}" class="text-danger fs-6 mb-3" th:if="${#fields.hasErrors('userDetailEmbeddable.phoneNumber')}"></p>
                    </div>
                </div>
                <button id="updateButton" class="btn btn-primary w-25 mt-4" type="submit"
                        disabled>Cập nhật</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function validateNumberInput(input) {
        const regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g;
        if (!regex.test(input.value)) {
            alert("Vui lòng nhập số đúng kiểu số điện thoại (VietNam +84), đầu số: (03, 05, 07, 08, 09).");
            input.value = ""; // Xóa nếu không hợp lệ
        }
    }
    var inputIds = ['firstname', 'lastname', 'email', 'address', 'phoneNumber'];

    // Lặp qua mảng và thêm sự kiện cho từng trường nhập liệu
    inputIds.forEach(function(id) {
        var inputElement = document.getElementById(id);

        if (inputElement) {
            inputElement.addEventListener('input', function() {
                // Kiểm tra điều kiện (có thể thêm điều kiện cho các trường nhập liệu khác)
                var isFormValid = inputIds.every(function(id) {
                    return document.getElementById(id).value.trim() !== '';
                });

                // Mở hoặc đóng nút button dựa trên điều kiện
                document.getElementById('updateButton').disabled = !isFormValid;
            });
        }
    });
</script>
<script th:src="@{/js/app.js}"></script>

</html>