<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-5">

            <label for="basic-url" class="form-label">FirstName:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="FIRSTNAME">
            </div>

            <label for="basic-url" class="form-label">LastName:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="LASTNAME">
            </div>

            <label for="basic-url" class="form-label">FullName:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="FULLNAME">
            </div>

            <label for="basic-url" class="form-label">Email:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="EMAIL">
            </div>

            <label for="basic-url" class="form-label">Address:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="ADDRESS">
            </div>

            <label for="basic-url" class="form-label">PhoneNumber:</label>
            <div class="input-group mb-3">
                <input class="inputtt w-100" type="text" value="" name="" placeholder="PHONENUMBER">
            </div>
            <button class="btn btn-primary w-25 mt-4" type="submit">UPDATE</button>

        </div>
        <div class="col-md-3"></div>


    </div>


</div>
</div>
</body>
</html>