:root {
    --box-shadow-bottom-heavy: 0 15px 20px rgba(0, 0, 0, 0.1);
    --transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

html {
    /* Hack 62.5%==10px */
    /* font-size: 62.5%; */
    line-height: 1.6rem;
    font-family: 'Wix Madefor Text', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    overflow-clip-margin: content-box;
    overflow: clip;
}

.disable{
    opacity: 0.75;
    cursor: no-drop !important;
}