/* .sanPhamTrungBay{
    padding: 0 100px;
} */
.button_add {

    box-shadow: inset 0 0 0 0 #c24c16;
    text-decoration: none;
    color: white;
    transition: color .7s ease-in-out, box-shadow .3s ease-in-out;
}

.button_add:hover {
    box-shadow: inset 200px 0 0 0 red;
    color: white;

}

.product-hover :hover {
    background-color: rgb(155, 208, 216);
    border-radius: 100px;
}


.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 540px) {
    .centerOnMobile {
        text-align: center
    }
}

/* .. */

.listGroup {

}

.category {
    padding-top: 4px;
    display: block;
    text-decoration: none;
    color: rgb(107, 97, 97);
    margin-top: 8px;
}

.category:hover {
    color: red;
}

/* .. */
.icon-footer:hover {
    color: red !important;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: rgb(17, 216, 50) !important;
}

.card-title {
    line-height: 1.5rem;
    height: 3.15rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.productGallery_thumb {
    margin-top: 15px;
    background-color: transparent;
    list-style-type: none;
    padding-right: 15px;
    white-space: nowrap; /* Đặt trắng không cho phép cắt dòng */
    overflow-x: auto;
}

.productList-thumb {
    display: inline-block;
    /* Hiển thị như các phần tử inline-block để chúng nằm cạnh nhau */
    white-space: nowrap; /* Ngăn cắt dòng trong ul */
}

.track-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.thumb-image {
    max-width: 85px;
    border: 1px solid black;
    border-radius: 3px;
}

.productGallery_slider {
    width: calc(100% - 85px);
    position: relative;
    background-color: transparent;
    height: 100%;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-box {
    border: 1px transparent;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    transition: transform linear 0.05s;
    will-change: transform;
}

.product-box:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    transition: all ease 0.3s;
    transform: translateY(-2px);
}

.sale-label {
    z-index: 2;
    background-color: #ffd424;
    width: 2.4rem;
    height: 2.8rem;
}

.sale-label::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -8px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36);
    border-style: solid;
    border-width: 0 1.2rem 8px;
}

.custom-btn-primary {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 3px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}

.image-popup {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #cd9cf2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}

.box-text--shadow {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 4px;

}

.category--link {
    margin: 0 1.2rem;
    line-height: 1rem;
    position: relative;
}

.category--link::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #444;
    bottom: -2px;
    height: 2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}

.category--link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.page-link {
    --bs-pagination-color: initial;
    --bs-pagination-bg: initial;
    --bs-pagination-border-width: initial;
    --bs-pagination-border-color: initial;
}