/* .sanPhamTrungBay{
    padding: 0 100px;
} */
.button_add {

    box-shadow: inset 0 0 0 0 #c24c16;
    text-decoration: none;
    color: white;
    transition: color .7s ease-in-out, box-shadow .3s ease-in-out;
}

.button_add:hover {
    box-shadow: inset 200px 0 0 0 red;
    color: white;

}

.product-hover :hover {
    background-color: rgb(155, 208, 216);
    border-radius: 100px;
}


.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 540px) {
    .centerOnMobile {
        text-align: center
    }
}

/* .. */

.listGroup {

}

.category {
    padding-top: 4px;
    display: block;
    text-decoration: none;
    color: rgb(107, 97, 97);
    margin-top: 8px;
}

.category:hover {
    color: red;
}

/* .. */
.icon-footer:hover {
    color: red !important;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: rgb(17, 216, 50) !important;
}

.card-title {
    line-height: 1.5rem;
    height: 3.15rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
    .productGallery_thumb {
        margin-top: 15px;
        background-color: transparent;
        list-style-type: none;
        padding-right: 15px;
        white-space: nowrap; /* Đặt trắng không cho phép cắt dòng */
        overflow-x: auto;
    }

    .productList-thumb {
        display: inline-block;
        /* Hiển thị như các phần tử inline-block để chúng nằm cạnh nhau */
        white-space: nowrap; /* Ngăn cắt dòng trong ul */
    }

    .track-item {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    .thumb-image {
        max-width: 85px;
        border: 1px solid black;
        border-radius: 3px;
    }

    .productGallery_slider {
        width: calc(100% - 85px);
        position: relative;
        background-color: transparent;
        height: 100%;
    }

    .product-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        max-height: 90%;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

    /* CSS cho hộp xem ảnh khi mở */

    .modal-content {
        animation: zoom 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
