/* .sanPhamTrungBay{
    padding: 0 100px;
} */
.button_add {

    box-shadow: inset 0 0 0 0 #c24c16;
    text-decoration: none;
    color: white;
    transition: color .7s ease-in-out, box-shadow .3s ease-in-out;
}

.button_add:hover {
    box-shadow: inset 200px 0 0 0 red;
    color: white;

}

.product-hover :hover {
    background-color: rgb(155, 208, 216);
    border-radius: 100px;
}


.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 540px) {
    .centerOnMobile {
        text-align: center
    }
}

/* .. */

.listGroup {

}

.category {
    padding-top: 4px;
    display: block;
    text-decoration: none;
    color: rgb(107, 97, 97);
    margin-top: 8px;
}

.category:hover {
    color: red;
}

/* .. */
.icon-footer:hover {
    color: red !important;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: rgb(17, 216, 50) !important;
}

.card-title {
    line-height: 1.5rem;
    height: 3.15rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.productGallery_thumb {
    margin-top: 15px;
    background-color: transparent;
    list-style-type: none;
    padding-right: 15px;
    white-space: nowrap; /* Đặt trắng không cho phép cắt dòng */
    overflow-x: auto;
}

.productList-thumb {
    display: inline-block;
    /* Hiển thị như các phần tử inline-block để chúng nằm cạnh nhau */
    white-space: nowrap; /* Ngăn cắt dòng trong ul */
}

.track-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.thumb-image {
    max-width: 85px;
    border: 1px solid black;
    border-radius: 3px;
}

.productGallery_slider {
    width: calc(100% - 85px);
    position: relative;
    background-color: transparent;
    height: 100%;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.custom-btn-primary {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 3px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}

.image-popup {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #cd9cf2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}