
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Quản lý danh mục </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>
<section>
  <div >
    <h3 class="text-center page-header">UPDATE SẢN PHẨM</h3>

    <div class="container">
    <form th:action="@{/admin/products/update}" th:object="${product}" enctype="multipart/form-data" method="post" >
      <div class="row">
        <input type="hidden" name="id"  th:field="*{id}">
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" disabled name="id"  th:field="*{id}">
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="name" name="name"  th:field="*{name}">
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger fs-6 mb-3">Không được để trống tên sản phẩm!</p>
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="brand" name="brand" placeholder="Brand" th:field="*{brand}">
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="price" name="price" placeholder="Price" th:field="*{price}" oninput="validateNumberInput(this)">
          <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger fs-6 mb-3">Vui lòng chỉ nhập số!!!</p>
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="oldPrice" name="oldPrice" placeholder="Old Price" th:field="*{oldPrice}" oninput="validateNumberInput(this)">
          <p th:if="${#fields.hasErrors('oldPrice')}" th:errors="*{oldPrice}" class="text-danger fs-6 mb-3">Vui lòng chỉ nhập số!!!</p>
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="shortDesc" name="shortDesc" placeholder="ShortDesc" th:field="*{shortDesc}">
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">
          <input class="form-control" type="text" id="discount" name="discount" placeholder="DisCount" th:field="*{discount}" oninput="validateNumberInput(this)">
          <p th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger fs-6 mb-3">Vui lòng chỉ nhập số!!!</p>
        </div>
        <div style="margin-bottom: 20px" class="col-md-6">

        <select class="form-control my-1" name="status" th:field="*{status}" >
          <option th:value="1">Hoạt động</option>
          <option th:value="0">Hủy</option>
        </select>
        </div>
      </div>



      <div class=" text-center">
        <button type="submit">
          Update
        </button>
        <button onclick="cancelForm()" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>

    <ul class="pagination">
    </ul>
  </div>
</section>





<div th:replace="admin/layout/footer"></div>
<!--<script th:src="@{/admin/js/danhMucAjax.js}"></script>-->
<script type="text/javascript">
  function cancelForm(){
    window.location = "[[@{/admin/products}]]";
  }
</script>
<script th:inline="javascript">
  function validateNumberInput(input) {
    const regex = /^-?\d+(\.\d+)?$/;
    if (!regex.test(input.value)) {
      alert("Vui lòng nhập số nguyên hoặc số thực.");
      input.value = ""; // Xóa nếu không hợp lệ
    }
  }
</script>
</body>
</html>