<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Quản lý danh mục </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="admin/layout/header"></div>
<!--content -->
<div th:replace="admin/layout/home"></div>
<section>
    <div >
        <h3 class="page-header">Quản lý Danh Mục</h3>
        <div >
            <label for="mainName"></label>
            <form th:action="@{/admin/category/add}" th:object="${category}" method="post" >
                <input type="hidden" name="id" >
                <input type="text" id="mainName" name="mainName" placeholder="Category Name" th:field="*{mainName}">
                <p th:errors="*{mainName}" class="text-danger fs-6 mb-3"
                   th:if="${#fields.hasErrors('mainName')}"></p>
                <input type="text" id="subName" name="subName" placeholder="sub Category" th:field="*{categoryEmbeddable.subName}">

                <input class="btn btn-primary m-2" type="submit" value="Save">
            </form>
        </div>
        <div>
        </div>
        <ul class="pagination">
        </ul>
    </div>
</section>





<div th:replace="admin/layout/footer"></div>
<!--<script th:src="@{/admin/js/danhMucAjax.js}"></script>-->

</body>
</html>